.container {
    display: flex;
    background-color: cornflowerblue;
    border-radius: 1px;
    max-width: 300px;
    
    padding: 70px;}
    .massiv{
        font-size:large;
    color:tomato
    }
    .btn{
        font-size:large;
        color:blueviolet 
    }